# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/education_management?schema=public"

# JWT Secret for Auth Token Signing
JWT_SECRET="eduna_secret_jwt_sign_key_change_me_in_production_12345"
